:root {
  --clr__red: hsl(10, 79%, 65%);
  --clr__cyan: hsl(186, 34%, 60%);
  --clr__brown-400: hsl(25, 47%, 15%);
  --clr__brown-500: hsl(28, 10%, 53%);
  --clr__cream: hsl(27, 66%, 92%);
  --clr__orange: hsl(33, 100%, 98%);

  --fs-300: 0.85rem;
  --fs-400: 1rem;
  --fs-500: 1.5rem;

  --fw-400: 400;
  --fw-700: 700;

  --borderRadius-300: 5px;
  --borderRadius-400: 15px;

  --spacer-400: 1rem;
  --spacer-500: 1.5rem;
  --spacer-600: 2rem;
}

/* Utilities */

.container {
  padding: var(--spacer-500);
}

.rounded {
  border-radius: var(--borderRadius-400);
}

/* App */

body {
  min-height: 100vh;
}

.main {
  background-color: var(--clr__cream);
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--spacer-400);
}

.main > * {
  width: 100%;
}

/* Balance */

.balance {
  background-color: var(--clr__red);

  display: flex;
  justify-content: space-between;
  align-items: center;

  color: var(--clr__orange);
}

.balance h2 {
  font-size: var(--fs-300);
  font-weight: var(--fw-400);
}

.balance p {
  font-size: var(--fs-500);
  font-weight: var(--fw-700);
}

/* Spending */

.spending {
  background-color: var(--clr__orange);
}

.spending__graphs {
  display: flex;
  justify-content: space-evenly;
  gap: var(--spacer-400);
  flex-wrap: wrap;
  height: 40vh;
}

/* graph */

.graph {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.graph--amount {
  background-color: var(--clr__red);
  border-radius: var(--borderRadius-300);
}

.graph--accent {
  background-color: var(--clr__cyan);
}
